<div class="h-screen w-full flex flex-col items-center">
  <h1>
    Korean hip hop music tracker
  </h1>
  <SearchBar::SearchBar @updateSearchResults={{this.updateSearchResults}} @clearSearch={{this.clearSearch}} />
  <SearchResults::SearchResults @results={{this.searchResults}} @addArtist={{this.addArtist}} />
  {{#each @model as |artist|}}
      <LinkTo @route='artist' @model={{artist.id}}>
        {{artist.name}}
      </LinkTo>
      {{artist.latestAlbum.name}} ({{artist.latestAlbum.releaseType}}) - released {{artist.latestAlbum.release_date}}
  {{/each}}
</div>