<div class="h-screen w-full flex flex-col items-center p-4">
  <div class="grid grid-cols-2 md:grid-cols-3 gap-3 lg:px-32 pt-4 pb-4">
    {{#each this.model as |newRelease|}}
      {{#if newRelease.albums}}
        <ArtistAlbum::ArtistAlbum
          @image={{newRelease.albums.firstObject.images.firstObject.url}}
          @album={{newRelease.albums.firstObject}}
          @artist={{newRelease.artist}}
          @linkRoute={{"release"}}
          @linkModelId={{newRelease.albums.firstObject.id}}
        />
      {{/if}}
    {{/each}}
  </div>
</div>